<h2>
Garments: <%= @garment.title %>
</h2>

<% if @garment.user_id == @current_user.id %>
  <%= link_to 'Edit Garment', edit_garment_path(@garment.id) %>
<% end %>
<p><strong>Points: </strong><%= @garment.points %></p>



<% if @current_user.points >= @garment.points %>
  <%= form_with url:claim_garment_path(@garment.id), local:true do |f| %>
  <%= f.submit "Claim" %>
  <% end %>
<% else %>
<h1>You do not have enough points... yet, swap more clothes!</h1>
<% end %>


  <p>
    <strong>Created by:</strong>
    <%= @garment.user.first_name %>
  </p>

<% @garment.photos.each do |photo|%>
  <%= cl_image_tag(photo.image, alt:photo.caption) %>
<% end %>
