<h2>
  Photo: <%= @photo.caption %>
</h2>

<% if @photo.garment.user_id == @current_user.id %>
  <%= link_to 'Edit Photo', edit_photo_path(@photo.id) %>
<% end %>



<%= image_tag @photo.image %>
<h2>
  Photo: <%= @photo.caption%>
</h2>



<%= image_tag @photo.image %>
