<!DOCTYPE html>
<html>
  <head>
    <title>APParel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav>
        <h1>APParel</h1><img src="https://res.cloudinary.com/do9y9tnbr/image/upload/v1607571178/APParel_new_ta0eli.png" alt="APParel logo" width="250" height="250">

        <% if @current_user.present?  %>
          Welcome, <%= @current_user.first_name %>
          |
          <%= link_to 'Logout', login_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Login', login_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>



      </nav>
      <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>

    </footer>

  </body>
</html>
